{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    // "jest/global": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "love",
    "eslint:recommended",
    "eslint-config-prettier",
    "plugin:n/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:tailwindcss/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "plugin:css/recommended",
    "plugin:promise/recommended",
    "plugin:testing-library/react"
  ],
  "plugins": [
    "react",
    "react-hooks",
    "prettier",
    "@typescript-eslint",
    "css",
    "tailwindcss",
    "testing-library",
    "jsx-a11y",
    "import",
    "promise",
    "vitest"
  ],
  "rules": {
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used" }],
    "quotes": ["error", "single"],
    "no-undef": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": "error",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "tailwindcss/classnames-order": "warn",
    "tailwindcss/no-custom-classname": "off",
    "tailwindcss/no-contradicting-classname": "error",
    "css/color-hex-style": "off",
    "css/no-shorthand-property-overrides": "off",
    "css/named-color": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx", ".ts"] }],
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "n/no-missing-import": "off"
  },
  "overrides": [
    {
      "extends": ["plugin:@typescript-eslint/disable-type-checked"],
      "files": ["**/*.{js,ts,cjs}"]
    }
  ]
}
